body {
	height: 100%;
	margin: 0;
	font-family: "Playfair Display";

	font-size: 15px;
	line-height: 1.6;
	background-color: #15110D;
	color: #000;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

/* header */

.header {
	width: 100%;
	display: flex;
	padding: 10px 0 10px 0;

	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	background-color: #594429;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.logo__img {
	width: 50px;
	height: 50px;

}

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	color: #F7AA47;
	vertical-align: top;
	display: inline-block;

	margin: 0 10px;
	text-decoration: none;
	transition: .2s;

}

.nav__link:hover {
	color: #fff;
}

.intro {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 500px;

	background: url("../img/theater_black.jpg") center no-repeat;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;

	text-align: center;
}

.intro__title {
	font-size: 100px;
	font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #F7AA47;
}

.intro__subtitle {
	color: #fff;
	text-align: center;
	text-align: center;
}

.intro__author {
	font-style: italic;
	color: #fff;
	text-align: center;
}

.intro__author:after {
	content: url("../img/whimg.png");
	display: block;
	margin: 60px auto 8px;
}

/* section */

.section {
	border-radius: 30px;
	background-color: #594429;
	width: 100%;
	margin: 40px auto;
	position: relative;
	max-width: 1600px;
	min-height: 60vh;
}
// .section__profile{
// 	border-radius: 30px;
// 	background-color: #594429;
// 	width: 100%;
// 	margin: 40px auto;
// 	position: relative;
// 	max-width: 1600px;
// 	min-height: 60vh;
// }
.section__inner {
	padding: 24px;
}

.section__title{
	font-size: 30pt;
	text-align: center;
	color: #F7AA47;
	margin-bottom: 0.3em;
}

.section__title:after {
	content: url("../img/whimg.png");
	display: block;

}

.section__items {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

// .section__items__event {

// }

.section__text {
	font-size: 23pt;
	color: #fff;
}

.section__text__event {
	text-align: center;
	font-size: 24pt;
	color: #fff;
}

.section__item{
	margin: 10px;
	display: inline-block;
	font-size: 24pt;
	color: #fff;
}

.about__item {
	display: inline-block;
	height: 380px;
	margin: 10px;
}
.event__inner{
	padding: 1em 0;
}
.event__item {
	text-align: center;
	width: 100%;
}


.program__item {
	width: 300px;
}

.program__items{
	text-align: center;
}

.section__btn {
	text-align: center;
	margin: 15px auto;
}

.btn {
	font-family: "Playfair Display";
	text-decoration: none;
	text-transform: uppercase;
	color: #15110D;
	margin: 15px;
	padding: 13px 6px;
	background-color: #F7AA47;
	border-radius: 100px;
}

/* footer */
footer{
	padding-top: 1em;
}
.footer {
	margin-bottom: 0;
	color: #F7AA47;
	background-color: #594429;
}

.footer__inner{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

.footer__firstitems {
	padding: 1em;
}

.footer__adress {
	display: flex;
}

.footer__seconditems {
	width: fit-content;
	padding: 1em;
}

.footer__info {
	display: flex;
	flex-direction: row;
}

/* auth */

.form__items {
	padding: none;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 80%;
}

// .form__item {
// 	display: flex;
// 	width: 25%;
// 	font-size: 14pt;
// 	text-align: center;
// 	font-family: "Playfair Display";
// 	background-color: #e0e0e0;
// 	justify-content: flex-end;
// }

.msg {
	border: 0 0 1px solid #F7AA47;
	color: #F7AA47;
}

.reg__label {
	text-align: center;
	font-size: 14pt;
	color: #F7AA47;
	font-family: "Playfair Display";
}

// .reg__item {
// 	display: flex;
// 	font-size: 14pt;
// 	color: #000;
// 	font-family: "Playfair Display";
// 	width: 25%;
// 	text-align: center;
// 	margin: 3px 0;
// 	background-color: #e0e0e0;
// }

/* afisha */

.program__inner {
	padding: 15px;
}

.program__content {
	width: 45%;
	margin-right: 1em;
	margin-top: 1em;
}

.program__content-flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.content__flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	// align-items: center;
	// border: 1px solid black;
	width: 100%;
	.content__desc{
		color: white;
		line-height: 1.3em;
		font-size: 1.3em;
		font-family: "Playfair Display";
		padding: 1em 1em;
	}

	.content__item {
		width: 300px;
	}
	.content__right{
		background-color: rgba(0, 0, 0, 0.342);
		// height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.button{
			width: 100%;
		}
		.content__button{
			border-radius: none;
			width: 100%;
			font-family: "Playfair Display";
			text-decoration: none;
			text-transform: uppercase;
			color: #15110D;
			padding: 13px 6px;
			background-color: #F7AA47;
			text-align: center;
			flex-grow: 1;
			transition: 0.3s;
			cursor: pointer;
			border: none;
			&:hover{
				transition: 0.3s;
				background-color: #c97200;
			}
		}
		.content__text {
			text-align: center;
			font-size: 16pt;
			color: #F7AA47;
		}
	}
}
.coop__inner{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.coop__container{
	display: flex;
	flex-direction: column;
	width: 20em;
	margin: 1em;
	color: white;
	// border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.342);
	.coop__img{
		img{
			width: 20em;

		}
	}
	.coop__fio{
		font-size: 1.2em;
		text-align: center;
		font-weight: bold;
		padding: 0.3em 0.3em!important;
	}

	.coop_padding{
		padding: 1em;
		font-family: "Playfair Display";

	}
}

.auth__flex{
	padding-bottom: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: "Playfair Display";
	.form__item{
		font-family: "Playfair Display";
		margin: 0.5em auto;
		width: 100%;
		border-radius: 50px;
		padding: 0.3em;
		font-size: 1.3em;
		border: none;
	}
	.reg__item{
		font-family: "Playfair Display";
		width: 100%;
		margin: 0.5em auto;
		border-radius: 50px;
		padding: 0.3em;
		font-size: 1.3em;
		border: none;
	}
	.button{
		margin-top: 1em;
		border-radius: 100px;
		width: 100%;
		font-family: "Playfair Display";
		text-decoration: none;
		text-transform: uppercase;
		color: #15110D;
		padding: 13px 6px;
		background-color: #F7AA47;
		text-align: center;
		flex-grow: 1;
		transition: 0.3s;
		cursor: pointer;
		border: none;
		&:hover{
			transition: 0.3s;
			background-color: #c97200;
		}
	}
}
.footer__lastitem{
	text-align: center;
}

.event__flex{
	display: flex;
	flex-direction: column;
	margin: 1em;
	color: white;
	// border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.342);
	p{
		padding: 1em;
		font-size: 1.3em;
		font-family: "Playfair Display";

	}
}
.profile__inner{
	color: white;
	font-family: "Playfair Display";
	font-size: 1.3em;
	text-align: center;
	padding: 1em;
	.profile__text{
		margin: 0;
	}
}
.button__profile{
	margin-top: 2em;
	border-radius: 100px;
	width: 50%;
	font-family: "Playfair Display";
	text-decoration: none;
	text-transform: uppercase;
	color: #15110D;
	padding: 13px 6px;
	background-color: #F7AA47;
	text-align: center;
	flex-grow: 1;
	transition: 0.3s;
	cursor: pointer;
	border: none;
	&:hover{
		transition: 0.3s;
		background-color: #c97200;
	}
}
.inputs{
	display: flex;
	flex-direction: row;
	input{
		font-family: "Playfair Display";
		width: 100%;
		border: 1px solid #F7AA47;
		font-size: 1.2em;
	}
}
.profile__flex{
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	img{
		height: 15em;
	}
	.profile__right{
		margin-right: 1em;
	}
	.profile__left{
		div{
			text-align: left;
		}
	}
}